.cproject
.project
Debug
default.cvcrc
Doxyfile
Makefile
Makefile.in
*/Makefile
*/Makefile.in
config.*
configure
ABOUT-NLS
aclocal.m4
autom4te.cache
bin
compile
depcomp
install-sh
missing
po
m4
release
share
stamp-h1
test
ylwrap
src_py/__pycache__
src_py/.deps
/configure~
